---
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Blackjack</title>
  </head>
  <body class="text-white bg-lime-900">
    <img
      src="/bg-low.avif"
      width={1920}
      height={1280}
      loading="eager"
      alt=""
      role="presentation"
      onload="this.src = '/bg.avif';"
      class="fixed inset-0 z-0 block w-full h-full object-cover"
    />

    <div class="container relative z-1">
      <!-- main content -->
    </div>
  </body>
</html>
